{% extends "::base.html.twig" %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block body %}
<h1>Bienvenido: {{ usuario.username }}!</h1>

<div class="listado_partidas">
    <ul>
    {% for partida in partidas %}
        <li>
            <div class="partida" onclick="cargarUsuarios({{partida.partida.getId}});">
                <span>{{ partida.partida.getFecha|date("j - F - Y") }}</span>
                <div class="usuarios" id="usuarios{{partida.partida.getId}}"></div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>

<script type="text/javascript">

    function cargarUsuarios(id) {
        var usuario = "#usuarios" + id;
        if ($(usuario).text() === "") {
            $(usuario).load("{{ url("acme_lista_usuarios",{"id":0 }) }}" + id, null, function() {
                $(usuario).prepend("<h3>Usuarios de la partida:</h3>");
                var url = "{{ url("acme_tablero",{"id_partida":0  }) }}" + id;
                $(usuario).append("<a href="+url+">Ir a la partida</a>");
            });
        } else {
            $(usuario).slideToggle()();
        } 
    }

</script>
{% endblock %}
